@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fundo {
    display: flex;
    width: 100vw; 
    height: 100vh; 
    justify-content: center;
    background-image: url('/fundohome.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: -1;
    opacity: black 0.5; 
    filter: blur(3px);
}

.perfilHeader {
    background-color: #2b2b2bef;
    padding: 10px;
    height: 9rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dados {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 1rem;
    color: #ffffff;
}

.perfilImage {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.titleAula {
    font-size: 3rem;
    color: #ece7e7;
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 10rem;
}

.cardslinha {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.cards, .cards1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.linha-publicacao {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Reduz o espaçamento entre as publicações */
    justify-content: center; /* Centraliza as publicações */
    align-items: center; /* Alinha verticalmente */
    width: 100%;
    margin: 1rem auto; /* Centraliza o container */
}

.perfiluser {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: #666;
}

.perfilTitle {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 0;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.publicacaoimg {
    width: 16rem;
    height: 16rem;
    border-radius: 0.2rem;
}

.publicacao {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Ajusta o espaçamento interno */
    align-items: center;
    justify-content: center;
    margin: 0.5rem; /* Reduz o espaçamento externo */
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
    .linha-publicacao {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center;
        align-items: center;
    }

    .publicacao {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: center;
        height: auto;
    }

    .perfilHeader {
        height: auto;
        padding: 1rem;
    }

    .perfilImage {
        width: 5rem;
        height: 5rem;
    }

    .publicacaoimg {
        width: 12rem;
        height: 12rem;
    }
}

@media screen and (max-width: 767px) {
    .linha-publicacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
    }

    .publicacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 50%;
    }

    .perfilHeader {
        height: auto;
        padding: 1rem;
        text-align: center;
    }

    .inf {
        flex-direction: column;
        align-items: center;
    }

    .dados {
        margin: 1rem 0;
        text-align: center;
    }

    .perfilImage {
        width: 4rem;
        height: 4rem;
    }

    .titleAula {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        text-align: center;
    }

    .cardslinha {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards, .cards1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .publicacaoimg {
        width: 10rem;
        height: 10rem;
    }
}
