@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fundo {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url('/fundohome.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
}

.perfilHeader {
    background-color: #2b2b2bef;
    padding: 10px;
    height: 9rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inf {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dados {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 1rem;
    color: #ffffff;
}

.perfilImage {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.titleAula {
    font-size: 3rem;
    color: #ece7e7;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardslinha {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.cards, .cards1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.linha-publicacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
    .linha-publicacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .linha-publicacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px)  {
    .linha-publicacao {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3rem;
        width: 100%;
    }

    .cards, .cards1 {
        display: flex;
        gap: 1rem;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
}