.cards {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 8rem;
    width: 40%;
    background-color: #ffffff;
}

.cards:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardsdiv {
    margin-bottom: 16px;
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    border-radius: 8px;
}

.horario {
    font-size: 1.2rem;
    color: #292929;
    margin-left: 2rem;
}

.text {
    font-size: 1rem;
    color: #666;
    margin-left: 2rem;
}

.data {
    font-size: 0.8rem;
    color: #999;
    margin-left: 2rem;
}

.titulo {
    font-size: 1.5rem;
    color: #333;
}

.button {
    padding: 8px 16px;
    background-color: #2b4926;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.button:hover {
    background-color: #2b4926;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .cards {
        width: 100%; 
        height: auto; 
    }
}

@media screen and (max-width: 767px) {
    .cards {
        display: flex;
        flex-direction: row;
        width: 85%;
    }
}