.publicacao {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 21rem;
    height: 28rem;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
}

.perfiluser {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    color: #666;
}

.date, .perfilTitle {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
    margin-left: 1rem;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.publicacaoimg {
    width: 16rem;
    height: 16rem;
    border-radius: 0.2rem;
    margin: 0 auto;
}

@media screen and (min-width: 1440px) {
    .publicacao {
        width: 18rem;
        height: 30rem;
    }

    .publicacaoimg {
        width: 14rem;
        height: 14rem;
    }
}

@media screen and (max-width: 1440px) {
    .publicacao {
        width: 19rem;
        height: 26rem;
    }

    .publicacaoimg {
        width: 14rem;
        height: 14rem;
    }
}

@media screen and (max-width: 1024px) {
    .publicacao {
        width: 25rem;
        height: 35rem;
    }

    .publicacaoimg {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 767px) {
    .publicacao {
        width: 95%;
        height: auto;
    }

    .publicacaoimg {
        width: 12rem;
        height: 12rem;
    }
}
